{% extends 'base.html' %}

{% block content %}

<h1>Talk Game Posts</h1>

{% for post in object_list %}


<ul>
    <li> <a href="{% url 'post_view' post.pk %}">{{ post.title }} - {{ post.author }}</a><br>

        {{ post.created_on }} {% if user.id == post.author.id %} <button class="btn btn-dark btn-sm"><a
                href="{% url 'edit_post' post.pk %}">Edit Post</a></button> <button class="btn btn-dark btn-sm"><a
                href="{% url 'delete_post' post.pk %}">Delete</a></button>
        {% endif %}
    </li>
    <hr />
</ul>




{% endfor %}


{% endblock %}